<template functional>
  <div
      class="grid-view__cell grid-field-point__cell"
  >
    <client-only>
      <l-map :zoom=5 :center="props.value || [51.505, -4.159]" :options="{zoomControl: false}">
        <l-tile-layer url="http://{s}.tile.osm.org/{z}/{x}/{y}.png"></l-tile-layer>
        <l-marker v-if="props.value" :lat-lng="props.value" :draggable="false"></l-marker>
      </l-map>
    </client-only>
  </div>
</template>